<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <title>Welcome</title>
</head>
<body>
<h1> Welcome, <span th:text="${name}"></span></h1>
<h2> you favorite language is: <span th:text="${lang}"></span></h2>
<h2>your hometown is: <span th:text="${from}"></span></h2>
</body>
</html>